@media (max-width: 1200px) {
  .monitoring-block {
    margin-top: 10px;
  }

  .monitoring-block__img {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  }
}

@media (max-width: 768px) {
  .slider-container__skin {
    display: none;
  }
}